body{
    background-color: darkgrey;
    text-align: center;
}

h1{
    color:black;
    text-transform: uppercase;
    margin-bottom: 40px;
}


#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    margin-top: 20px;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#search_button{
    background-color: lightseagreen;
    margin-right: 20px;
}

#delete_button{
    background-color: lightcoral;
}

img{
    border: solid black 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

